button {
  cursor: pointer;
}

#calculator-body {
  display: flex;
  flex-direction: column;
  width: 215px;
  border: solid 1px black;
  padding: 20px;
  background-color: lightgray;
}
#calculatorDisplay {
  display: flex;
  padding: 5px;
  border: solid 1px black;
  margin-bottom: 25px;
  background-color: white;
}
#calculatorButtons {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  column-gap: 5px;
  row-gap: 5px;
}
button {
  padding: 12px;
}
button:hover {
  background-color: rgb(43, 70, 228);
  border: none;
  color: white;
}
